body {
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #32434c;
    background-color: #fff;
}

.ovhidden {
    overflow: hidden;
}

a,
a:hover {
    text-decoration: none !important;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    margin: 0
}

img {
    display: block;
    max-width: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

img.loadimg {
    opacity: 0;
    transform: scale(.95);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

img.loadimg.fade {
    opacity: 1.0;
    transform: scale(1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

button {
    border: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Nunito Sans', sans-serif;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-weight: 700;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
}

input {
    font-family: 'Nunito Sans', sans-serif;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4e4e4e; 
  }


@media(min-width: 1366px) {
    .cmpad {
        max-width: 1526.4px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 54px !important;
        padding-right: 54px !important;
    }
}

@media(max-width: 1366px) {
    .cmpad {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@media(max-width: 991px) {
    .cmpad {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media(max-width: 767px) {
    .cmpad {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}

@media(max-width: 575px) {
    html {
        font-size: 90%;
    }
}


header {
    position: fixed;
    z-index: 99;
    width: 100%;
    transition: .3s;
}
header.scrolled{
    background-color: white;
    box-shadow: 0px 0px 20px #00000014;
}
header.scrolled .logocol {
    width: 150px;
}

.headmain {
    display: flex;
    padding: 13px 0;
}

.logocol {
    width: 230px;
    transition: .3s;
}

.menucol {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menulist {
    display: flex;
    gap: 50px;

}

.menulist a {
    color: #333;
    transition: .3s;
}

.menulist a:hover {
    color: #eea822;
}

.slider {
    height: 100vh;
}

.slider .slideimg {
    height: 100vh;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;

}

.slideimg:before {
    position: absolute;
    content: '';
    width: 50%;
    background: linear-gradient(251.42deg, #D6D8E7 0.45%, #EFF0F8 44.03%, #FFFFFF 93.05%);
    right: 0;
    height: 100%;
    opacity: 70%;
    z-index: 0;
}

.slidercon {
    position: relative;
    z-index: 10;
}

.bttn {
    background-color: #EB9C4D;
    color: white;
    padding: 10px 30px;
    border-radius: .5rem;
    font-size: .95rem;
    transition: .3s;
}

.bttn:hover {
    background-color: #bb6d1e;
}

.slidercon p {
    margin-bottom: 25px;
}

.slidercon h2 {
    color: #273069;

}

.mainhead {
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    color: #273069;
}

.subpara {
    text-align: center;
    color: #666;
    font-size: 1.1rem;
}

.abtlist {
    display: flex;
    flex-flow: wrap;
    margin: -10px -20px;
}

.abtlist li {
    flex: 1 0 25%;
    padding: 10px 20px;
}

.abtlist .abtbox {
    border-radius: .5rem;
    padding: 20px;
    box-shadow: 0px 0px 20px #0000001a;
    min-height: 230px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    border: 1px solid transparent;
}

.abtlist .abtbox h3 {
    font-size: 3rem;
    font-weight: 800;
    color: #273069;
    line-height: normal;

}

.abtlist .abtbox img {
    margin: auto;
    /* margin-bottom: .9rem;
    margin-top: 8px; */
    width: 150px;
    height: 80px;
    object-fit: contain;
}

.abtlist .abtbox:hover {
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.185) 0px 25px 20px -20px;
    /* border: 1px solid #eea82240; */
}



.we-offer {
    background-image: url(../public/assets/images/abt.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.we-offer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(39, 48, 105, 0.79);
}

.flexVcenter {
    display: flex;
    /* align-items: center; */
    flex-flow: column;
    justify-content: center;
}

.we-offer h2 {
    color: rgb(255 255 255 / 90%);
    text-align: left;
}

.we-offer p {
    color: rgb(255 255 255 / 85%);
}

.abt {
    position: relative;
    z-index: 9;
}

.arr {
    display: flex;
    gap: 15px;
    color: #eb9c4d;
    transition: .3s;
}

.arr img {
    width: 20px;
    transition: .3s;
}

.arr:hover img {
    transform: translateX(3px);
}

.arr:hover {
    color: #bb6d1e;
}

.we-list {
    display: flex;
    flex-flow: wrap;
    margin: -10px;
}

.we-list li {
    flex: 1 0 50%;
    max-width: 50%;
    padding: 10px;
}

.we-box {
    padding: 20px;
    border: 3px solid rgba(255, 255, 255, 0.842);
    border-radius: .5rem;
    text-align: center;
    min-height: 220px;
    transition: .3s;
    cursor: pointer;
}

.we-box img {
    width: 80px;
    margin: auto;
    padding-bottom: 20px;
}

.we-box:hover {
    border: 3px solid #eb9c4d;
}

.study {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}
.study:hover img{
    transform: scale(1.1);
}

.study p {
    position: absolute;
    width: 100%;
    background-color: #adadad29;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    backdrop-filter: blur(2px);
    color: white;
}

.testimonials {
    background-color: rgba(39, 48, 105, 0.1);
}

.testi-img {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

.testi-img::before {
    content: '';
    position: absolute;
    background-color: #00000047;
    inset: 0;
}

.testi-img p {
    position: absolute;
    margin-bottom: 0;
    z-index: 9;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 13px 0;
    /* background-color: #975151; */
    /* color: #250d0d; */
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.play {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.testipara{
    line-height: 30px;
}

.sprt-list{
    display: flex;
    flex-flow: wrap;
    margin: -10px;
}
.sprt-list li{
    flex: 1 0 calc( 100% / 5);
    max-width: calc( 100% / 5);
    padding: 10px;
}
.sprtbak{
    min-height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    border-radius: .5rem;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.sprtbak::before{
    content: '';
    position: absolute;
    background-color: rgb(52, 58, 102);
    inset: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    opacity: 1;
}
.sprtbak:hover::before{
    opacity: .8;
}
.sprtcon{
    position: relative;
    z-index: 9;
}


.sprtbak img{
    width: 80px;
    height: 80px;
    margin: auto;
    padding-bottom: 20px;
    object-fit: contain;
}
.sprtbak p{
    text-align: center;
    color: #ffffffe0;
    margin-bottom: 0;
    font-size: 1.1rem;
}
.instabx{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 4px #00000017;
}
.insta .swiper-wrapper{
    margin: 15px 0;
}
.news-bx{
    min-height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    
}

.news-con{
    max-width: 300px;
    background-color: rgba(50, 55, 95, 0.7);
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    border-radius: .5rem;
    color: white;
}

footer{
    display: flex;
}

.foot-list{
    display: flex;
}
.foot-left{
    padding: 40px;
    width: 300px;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
}
.foot-right{
    width: calc( 100% - 300px );
    background-color: rgba(39, 48, 105, 1);
    padding: 3rem 4rem;
}
.foot-list h5{
    color: rgb(255 255 255 / 90%);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.foot-list li{
    padding-bottom: 10px;
}
.foot-list li:last-child{
    padding-bottom: 0;
}
.foot-list li a,.foot-list p,.foot-list a{
    font-size: .9rem;
    color: rgb(255 255 255 / 70%);
    transition: .3s;    
}
.foot-list p{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.foot-list li a:hover,.foot-list a:hover{
    color: rgb(255 255 255 / 90%);
}
.social-list{
    display: flex;
    gap: 10px;
}


.swiper-button-prev, .swiper-button-next {
    color: white;
    height: 40px !important;
    width: 40px !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 50px !important;
    transition: .3s;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1rem !important;
    color: #333 !important;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: #eea822 !important;
}
.swiper-button-prev:hover:after, .swiper-button-next:hover:after {    
    color: #ffffff !important;
}